[Desktop Entry]
Version=1.0
Type=Application
Name=Yafc-CE
Comment=A planner and analyzer for Factorio
Categories=Utility;Calculator;
Exec=Yafc
Terminal=false
